################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Avida.ServiceBus.Libraries/v15/Server/sqlite3
